header {
    background: fixed;
    background-color: lavender;
    padding: 7px;
}

#header {
    text-align: center;
}

#spacer  {
    text-align: right;
    font-weight: bold;
    align-items: stretch;
    list-style-type: none;
}



footer {
    background: fixed;
    background-color: lavender;
    padding: 7px;
    text-align: center;
}

