*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: lavender;
    margin-top: -20px;
    padding: 5px;
}

body{
    background-color: aliceblue;
}

.header {
    text-align: center;
}

#info {
    width: 300px;
    border: 10px;
    padding: 50px;
    margin: 20px;
}

.spacer  {
    font-weight: bold;
    display: inline center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.cButton {
    margin: auto;
    margin-left: 917px;
}

footer {
    background: fixed;
    background-color: #A7C7E7;
    padding: 7px;
    text-align: center;
    margin-bottom: -10px;
}